* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #2a3a4a;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}

.container {
  max-width: 72em;
  margin: 0 auto;
  padding: 4rem 10px;
}

.logout {
  margin-top: 8rem;
}

.ta-center {
  text-align: center;
}
